.brand_tab_menu {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 50px;
}

.brand_tab_menu li {
    border: 1px solid #000;
    text-align: center;
    width: 183.33px;
    height: 54px;
    line-height: 54px;
    float: left;
    border-right: 0;
    cursor: pointer;
    font-size: 14px;
}

.brand_tab_menu li:last-child {
    border-right: 1px solid #000;
}

.brand_tab_menu .tab_li {
    border-bottom: 0;
}

.brand_tab_menu .tap6 {
    border-right: 1px solid #000;
}

.brand_list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand_list .item {
    float: left;
    border: 1px solid #000;
    margin: 0 0 10px;
}

.brand_list .item>span {
    display: flex;
    justify-content: center;
}

.bl-desc {
    margin-top: 24px;
    font-size: 14px;
}

.bl-title {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
}

.list3 {
    width: 49.9%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brand_tab_menu2 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.brand_tab_menu2 li {
    border: 1px solid #000;
    text-align: center;
    width: 183.33px;
    height: 54px;
    line-height: 54px;
    float: left;
    border-right: 0;
    cursor: pointer;
    font-size: 14px;
}

.brand_tab_menu2 li:last-child {
    border-right: 1px solid #000;
}

.brand_list2 {
    margin-bottom: 20px;
}

.subimg_in {
    width: 1100px;
    height: 200px;
    margin: 0 auto;
}

.subimg_in p {
    padding-top: 28px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.subimg_in a {
    text-decoration: none;
    color: #000;
}

.subimg_in h2 {
    color: #000;
    margin-top: 80px;
    font-size: 32px;
    font-weight: 600;
}