.title {
  font-size: 100px;
  color: skyblue;
}

.header {
  width: 100%;
  height: 120px;
  background-color: rgb(247, 248, 249);
  border-bottom: 1px solid #ccc;
}

.header_in {
  margin: 0 auto;
  width: 1100px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.header_in .logo {
  width: 130px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_in .nav {
  width: 850px;
  height: 120px;
}

.header_in .nav ul {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_in .nav ul>li>a {
  color: #000;
  font-weight: 600;
}

.mainimg {
  width: 100%;
  height: 450px;
  background-color: rgb(50, 205, 182);
}

/* 일반적인 스타일시트에서 배경이미지
 .imgbox {
  margin: 0 auto;
  width: 1100px;
  height: 200px;
  background: url(./images/logo.png);
} */

/* 슬라이드 요소수정 */
#mainimg {}

#mainimg button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

#mainimg .carousel-control-next-icon,
#mainimg .carousel-control-prev-icon {
  border: 1px solid #fff;
  border-radius: 50%;

}



/* 서브컴포넌트 공통선언 */
.subpath {}

.subimg {
  width: 1100px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.subttl {
  width: 100%;
  height: 300px;
  background-color: aqua;
  overflow: hidden;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contents_in {
  width: 1100px;
  height: 1000px;
}

.items {
  width: 100%;
  height: 300px;
  background-color: violet;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items>div {
  margin-top: 20px;
  padding: 5px 0 10px;
  width: 250px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.e_item1 {
  margin: 0;
  padding: 0;
  width: 1100px;
  float: left;
}

.e_item1>li {
  width: 100%;
  float: left;
  padding: 10px 10px;
  box-sizing: border-box;
}

.e_item1>li>span:last-child {
  padding-left: 50px;
  padding-top: 50px;
}

.e_item1>li>span {
  float: left;
}

.footer {
  float: left;
  width: 100%;
}

.footer>div>div>h2 {
  font-size: 24px;
}

.fcustomer h2 {
  margin-top: 36px;
  margin-bottom: 0;
}

.call {
  font-size: 30px;
  color: #444;
  font-weight: 600;
}

.footer-top {
  width: 100%;
  background-color: #f5f5f5;
}

.footer-top_in {
  width: 1100px;
  height: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top>div {
  font-size: 14px;
}


.fcustomer2 {
  display: flex;
  text-align: center;
}

.fdownload>a {
  color: #000;
  text-decoration: none;
}

.fdownload>a>span {
  border: 1px solid #000;
  border-radius: 50%;
}

.fdownload>a:hover {
  color: #000;
}

.fcustomer2>a {
  text-decoration: none;
  color: #000;
  padding-right: 15px;
  box-sizing: border-box;
}

.fcustomer2>a:hover {
  color: #000;
}

.footer-middle {
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}

.footer-middle_in {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 1100px;
  height: 60px;
  font-size: 14px;
}

.footer-middle li {
  float: left;
}

.footer-middle li::before {
  content: '|';
  padding-right: 10px;
  box-sizing: border-box;
}

.footer-middle li:first-child::before {
  content: '';
  padding-right: 0;
}

.footer-middle li a {
  text-decoration: none;
  color: #000;
  padding: 4px 10px 4px 0;
  box-sizing: border-box;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.fleft {
  width: 250px;
  font-size: 11px;
}

.fleft>select {
  width: 121px;
  height: 31px;
  margin: 30px 0;
}

.fleft>a {
  padding: 8px;
  width: 50px;
  height: 31px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #999;
  color: #fff;
}

.fleft>a:hover {
  color: #fff;
}

.fleft>ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.fleft>ul>li {
  padding: 5px;
  box-sizing: border-box;
}

.fleft>ul>li:first-child {
  padding-left: 0;
}

.fright {
  width: 850px;
  font-size: 12px;
}


.fright_middle span {
  font-size: 11px;
}

.fright_img {
  padding: 0;
  margin: 0;
  display: flex;
}

.fright_img li {
  padding: 20px 10px;
  box-sizing: border-box;
}

.fright_img li:first-child {
  padding-left: 0;
}

.fright .info {
  font-size: 12px;
  color: #7e7e7e;
}

.fright .info::before {
  content: '|';
  padding: 0 5px;
  box-sizing: border-box;
}

.fright .info_all::before {
  content: '';
  padding: 0;
}



/* brand Tabmenu */
#brand_tab {}

#brand_tab .nav-item {
  width: 25%;
}

#brand_tab .nav-item button {
  width: 100%;
}

/* event Tabmenu */
#event_tabmn .nav-item {
  width: 50%;
}

#event_tabmn .nav-item button {
  width: 100%;
}